<polymer-element name="panel-login">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
                height: 100vh;
            }
            .form {
                text-align: center;
                padding-top: 10vh;
            }

            .user-info {
                padding-top: 30vh;
                text-align: center;
                font-size: 2.1vw;
            }

            .user-info p {
                margin: 0 0 5px 0;
                text-align: center;
            }

            .user-info img {
                vertical-align: middle;
            }

            .user-info .avatar {
                margin-bottom: 5px;
                border-radius: 24px;
                width: 48px;
                height: 48px;
                box-shadow: 0 0 1px #fff;
                transition : all 0.4s;
            }

            .user-info .avatar:hover {
                transform: rotate(360deg);
            }

            button {
                width: 80px;
                height: 25px;
                margin-top: 20px;
                margin-bottom:5px;
                cursor: pointer;
                background: rgba(255,255,255,0.4);
                border:1px solid rgba(100,100,100,0.1);
            }

            button:hover, button:focus {
                outline: none;
                background: rgba(255,255,255,0.8);
            }

            input {
                width: 70%;
                height:30px;
                margin-bottom: 10px;
                outline: none;
                color: #000;
                border:1px solid rgba(100,100,100,0.1);
                background: rgba(255,255,255,0.4);
                font-size: 3.5vh;
                text-indent: 10px;
            }

            input:focus {
                background: rgba(255,255,255,0.8)
            }

            #submit {
                padding: 5px 0;
                margin: 20px auto 0;
            }

            .captcha_pic {
                height: 30px;
                line-height: 30px;
                color: #999;
                font-size: 2vw;
                text-align: center;
            }

            .captcha_pic img {
                width: 70%;
                cursor: pointer;
            }

            [href] {
                text-decoration: underline;
                cursor: pointer;
            }

            .errTip {
                margin-top: 10vh;
                font-size: 12px;
            }
        </style>
        <template if={{userInfo}}>
            <div class="user-info">
                <p><span href="http://douban.fm/" on-click="{{goToLink}}">{{userInfo.name}}</span></p>
                <p>
                    <template if={{userInfo.is_pro}}>
                        <img src="http://img3.douban.com/f/fm/2a515706241f1c45a91812ec581c99b6eef7bb9d/pics/fm/pro/pro_icon.gif" width="29">
                    </template>
                </p>
                <p><span href="http://douban.fm/mine#!type=played" on-click="{{goToLink}}">累积收听:{{userInfo.play_record.played}}</span></p>
                <p><span href="http://douban.fm/mine#!type=liked" on-click="{{goToLink}}">加红心:{{userInfo.play_record.liked}}</span></p>
                <p><span href="http://douban.fm/mine#!type=banned" on-click="{{goToLink}}">不再收听:{{userInfo.play_record.banned}}</span></p>
                <button on-click="{{logout}}">注 销</button>
            </div>
        </template>
        <template if={{!userInfo}}>
            <div class="form">
                <input type="text" placeholder="邮箱" name="email" value="" on-keydown="{{keydown}}" />
                <input type="password" placeholder="密码" name="password" value="" on-keydown="{{keydown}}" />
                <input type="password" placeholder="验证码" name="captcha_solution" value="" on-keydown="{{keydown}}" />
                <template if={{captcha_id}}>
                    <br />
                    <img src="http://douban.fm/misc/captcha?size=m&id={{captcha_id}}" on-click="{{refreshCaptcha}}">
                    <br />
                </template>
                <button type="submit" id="submit" on-click="{{login}}">登  录</button>
                <div class="errTip">{{err}}</div>
            </div>
        </template>
    </template>
    <script>
    Polymer('panel-login',{
        userInfo : null,
        ready : function() {
            var self = this
            var cache = FM.cache.get('CACHE:USER')
            if(cache) {
                self.userInfo = cache
                if(self.userInfo && !self.isExpired()) {
                    setTimeout(self.logout.bind(self), self.timeLeft)
                }
            }
            self.refreshCaptcha()
        },

        refreshCaptcha: function() {
            var self = this
            FM.webSDK.captcha_id(null, function(err, id) {
               if(err) console.error(err)
               self.captcha_id = id
            })
        },

        login : function() {
            var self = this
            var option = self.getValidOptions()
            if(!option) return
            self.err = false
            FM.webSDK.login(option, function(err, result) {
                if(err) console.error(err)
                if(result.r == 0) {
                    result.password = option.password
                    self.userInfo = result.user_info
                    FM.cache.set('CACHE:USER', result.user_info)
                    FM.obs.emit('LOGIN:UPDATE')
                    self.err = false
                } else {
                    self.logout()
                    self.err = result.err
                }
            })
            return false;
        },

        //退出登录
        logout : function() {
            var self = this
            self.userInfo= null
            FM.cache.remove('CACHE:USER')
            FM.webSDK.logout()
        },

        //判断登录信息是否即将过期，十分钟之内过期
        isExpired : function() {
            this.timeLeft = ~~this.userInfo.expire*1000 - Date.now()
            return this.timeLeft < 60*1000*10
        },

        //获取输入的邮箱和密码
        getValidOptions : function() {
            var self = this
            var email = self.getOptionValue('email')
            var password = self.getOptionValue('password')
            var captcha_solution = self.getOptionValue('captcha_solution')
            var captcha_id = self.captcha_id
            if(!email) {
                self.err = '请输入账号'
                return false
            }
            if(!password) {
                self.err = '请输入密码'
                return false
            }
            return {
                alias : email,
                form_password : password,
                captcha_solution: captcha_solution,
                captcha_id : captcha_id,
                remember : 'on'
            }
        },

        //回车登录
        keydown : function(e) {
            var self = this
            if(e.keyCode == 13) {
                self.login()
            }
        },

        //获取参数值
        getOptionValue : function(name) {
            var value = this.userInfo && this.userInfo[name]
            var input = this.shadowRoot.querySelector('[name="'+ name + '"]')
            if(input) {
                value = input.value
            }
            return value
        },

        goToLink : function(e) {
            var btn = e.currentTarget
            var open = require('open')
            open(btn.getAttribute('href'))
        }
    })
    </script>
</polymer-element>
